body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
    z-index: -1; 
}

h1  {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    margin-top: 0.5em;
    color: black;
    padding: 0.5em
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: auto;
    font-size: 30px;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    color: black;
}

p {
    padding: 2em;
    font-size: 17px;
}

#imgOne {
    margin-left: 10px;
    padding: 2em;
    width: 700px;
    height: auto;
}

#imgTwo {
    margin-left: 30px;
    padding: 0.3em;
    width: 1130px;
    height: auto;
}

#imgThree {
    margin-left: 225px;
    padding: 2em;
    width: 700px;
}

#imgFour {
    margin-left: 120px;
    padding: 2em;
    width: 900px;
}

#imgFive {
    margin-left: 120px;
    padding: 2em;
    width: 900px;
}

#imgSix {
    margin-left: 5px;
    padding: 1em;
    width: 500px;
    height: auto;
}

#imgSeven {
    margin-left: 10px;
    padding: 1em;
    width: 500px;
    height: auto;
}

#imgEight {
    margin-left: 10px;
    padding: 0.5em;
    width: 500px;
    height: auto;
}

#imgNine {
    margin-left: 10px;
    padding: 0.5em;
    width: 200px;
    height: auto;
}

#imgTen {
    margin-left: 10px;
    padding: 0.5em;
    width: 300px;
    height: auto;
}

#imgEleven {
    margin-left: 10px;
    padding: 0.5em;
    width: 300px;
    height: auto;
}

#imgTwelve {
    margin-left: 10px;
    padding: 0.5em;
    width: 300px;
    height: auto;
}

#imgThirteen {
    margin-left: 10px;
    padding: 0.5em;
    width: 300px;
    height: auto;
}

#imgFourteen {
    margin-left: 10px;
    padding: 0.5em;
    width: 300px;
    height: auto;
}

#imgFifteen {
    margin-left: 10px;
    padding: 0.5em;
    width: 300px;
    height: auto;
}

#imgSixteen {
    margin-left: 10px;
    padding: 0.5em;
    width: 300px;
    height: auto;
}

#imgSeventeen {
    margin-left: 30px;
    padding: 0.3em;
    width: 1130px;
    height: auto;
}

#imgEighteen {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgNineteen {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgTwenty {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgTwentyOne {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgTwentyTwo {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgTwentyThree {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgTwentyFour {
    margin-left: 30px;
    padding: 0.3em;
    width: 900px;
    height: auto;
}

#imgTwentyFive {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgTwentySix {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgTwentySeven {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgTwentyEight {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgTwentyNine {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgThirty {
    margin-left: 30px;
    padding: 0.3em;
    width: 200px;
    height: auto;
}

#imgThirtyOne {
    margin-left: 30px;
    padding: 0.3em;
    width: 200px;
    height: auto;
}

#imgThirtyTwo {
    margin-left: 30px;
    padding: 0.3em;
    width: 200px;
    height: auto;
}

#imgThirtyThree {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgThirtyFour {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgThirtyFive {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgThirtySix {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgThirtySeven {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgThirtyEight {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgThirtyNine {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgForty {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgFortyOne {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgFortyTwo {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgFortyThree {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgFortyFour {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

#imgFortyFive {
    margin-left: 30px;
    padding: 0.3em;
    width: 500px;
    height: auto;
}

.desktop {
    font-family: monospace;
}

.window {
    display: none;
    width: 300px;
    height: 300px;
    border: 2.5px solid  rgb(205, 205, 205);
    background-color: azure;
    position: absolute;
    cursor: move;
    cursor: grab;
    overflow-y: scroll;
    overflow-x: hidden;
}

.window.expanded {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 1280px;
    height: 600px;
    z-index: 9999; /* Ensure it's above other elements */
}


#window1 {
    top: 50px;
    left: 100px;
}

#window2 {
    top: 300px;
    left: 700px;
}

#window3 {
    top: 100px;
    left: 1100px;
}

#window4 {
    top: 200px;
    left: 130px;
}


#window5 {
    top: 400px;
    left: 1000px;
}



.window-header {
    position: sticky;
    background-color: #ddd;
    background-image: linear-gradient( to right, rgb(24, 92, 176),rgb(53, 129, 243));
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 1px;
    padding-left: 6px;
    cursor: grab;
}


.expand-btn {
    margin-left: 0px;
}

.expand-btn:hover {
    cursor:pointer;
}

.minimize-btn:hover {
    cursor:pointer;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( to right, rgb(24, 92, 176),rgb(53, 129, 243));
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color:azure;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px;
    z-index: 100;

    overflow: hidden;
    white-space: nowrap;
}

.clock {
    font-family: 'Arial', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight:300;
    text-align: right;
    margin-top: 5px;
}

.folder-images {
    margin-top: 10px;
    display: flex;
}

.app-images {
    margin-top: 340px;
    display: flex;
    margin-left: 600px;
}

img {
    width: 140px; 
    margin-right: 20px;
    margin-left: 20px;

    /*this specific transition code was adapted from W3School*/
    background-color: transparent;
    transition: background-color 0.6s ease;
}

img:hover {
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgba(78, 119, 255, 0.5);
}

#restrictedImg {
    margin-left: 0px;
    margin-right: 0px;
    width: 430px;
    height: 423px;
}

/*
animations to do: 
- dvd type floating animation
- subtle sky animation
- title animation
- day and night animation depending on time of when website is opened
